extends  ./layout/index

block slider
    .slider
        h1 Río de Janeiro 
        em Aventura

block contenido
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5 
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque non tortor et porttitor. Mauris quis enim diam. Quisque nisl ipsum, rhoncus eget tellus tempus, mollis facilisis lacus.

                p Nulla facilisi. Phasellus vulputate gravida consequat. Quisque pulvinar orci id neque efficitur, sed vulputate purus fringilla. In id leo at ante porta finibus. Sed imperdiet eros sapien, a interdum sem porttitor nec. Nulla sodales varius dapibus. 
            
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="Imagen Nosotros", class="img-fluid")

        h2.text-center.mb-5 Viajes próximos a realizar
        .row.mb-5 
            include ./layout/bloque_viajes

    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo de 2024 - 28 de Marzo de 2024
                        p.precio $2,500 USD

    .container 
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales